/* TABLE */
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #eee; border: 1px solid white; /* TABLE HEADER */
}
table.tablesorter thead tr .tablesorter-header { /* COLUMNE HEADER */
  background-repeat: no-repeat;
	background-position: center right;
  cursor: pointer;
}
table.tablesorter tbody td { /* TABLE CONTENT */
	vertical-align: middle;
}
table.tablesorter thead tr .tablesorter-headerUnSorted { /* UNSORTED IMAGE */
  background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
}
table.tablesorter thead .tablesorter-headerAsc { /* UP IMAGE */
  background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);
}
table.tablesorter thead .tablesorter-headerDesc { /* DOWN IMAGE */
	background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
}
table.tablesorter thead .sorter-false {
  background-image: none !important;
}
table.tablesorter thead tr .headerSortDown,
table.tablesorter thead .tablesorter-headerAsc,
table.tablesorter thead tr .headerSortUp,
table.tablesorter thead .tablesorter-headerDesc {
  background-color: lightgray; /* SELECTED COLUMNE */
  outline: 0;
}

/* SELECT & HOVER COLORS = RED #ffb7b7 - BLUE #a8d1ff - YELLOW #fff2a8 */
::selection                         { background: #fff2a8; }
::-moz-selection                    { background: #fff2a8; }
table.tablesorter tbody tr:hover td { background: #fff2a8; /* LINE HOVER RULER */ }

/* RESPONSIV */
@media only screen and (min-width: 993px) { /* ONLY NO MOBILE */
  table.tablesorter tbody td {
    padding: 4px;
  }
}
@media only screen and (max-width: 992px) { /* ONLY MOBILE */
  table.tablesorter thead tr .tablesorter-header,
  table.tablesorter thead .tablesorter-headerAsc,
  table.tablesorter thead .tablesorter-headerDesc {
    background-position: center left;
    padding-left: 20px;
  }
  /* material fix */
  table.responsive-table thead tr th::before {
    content: "";
  }
}
